<ion-content>
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>
    <div class="info" align="center">
        <div class="title">התחבר למערכת</div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="email" id="mail" class="form-control" formControlName="email" placeholder="הכנס מייל תקין">
            </div>

            <div class="form-group">
                <input type="text" id="password" class="form-control" formControlName="password" placeholder="הכנס סיסמה ">
            </div>

            <button ion-button class="regButton"  color="secondary" [disabled]="registerForm.invalid" type="submit">הירשמ/י למערכת</button>
        </form>
    </div>
</ion-content>
