

<ion-content>
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>
    <div class="info" align="center">
        <div class="title">הרשם למערכת</div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="* הכנס שם מלא"><br>
                <span *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched" class="formSpan"> בבקשה להזין שם מלא</span>
            </div>

            <div class="form-group">
                <input type="text" id="address" class="form-control" formControlName="address" placeholder="הכנס כתובת העסק">
            </div>

            <div class="form-group">
                <input type="tel" id="phone" class="form-control"  formControlName="phone" placeholder="הכנס מספר טלפון">
            </div>

            <div class="form-group">
                <input type="email" id="mail" class="form-control" formControlName="email" placeholder="הכנס מייל תקין">
            </div>

            <div class="form-group">
                <input type="text" id="password" class="form-control" formControlName="password" placeholder="הכנס סיסמה ">
            </div>

            <div class="form-group">
                <textarea rows="4" col="4" type="text" id="info" class="form-control" formControlName="info" placeholder="קצת פרטים על העסק"></textarea>
            </div>

            <button ion-button class="regButton" color="secondary" [disabled]="registerForm.invalid" type="submit">הירשמ/י למערכת</button>
        </form>
    </div>

</ion-content>
