page-home {
  .background-image {
    /* In this example we are using a background-image. But the header element could be anything. */
    background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    background-size: cover;
    background-position: center;
    /* The header must have a height: */
    height: 50vw;
  }

  .content {
    /* Content after the elastic header need a background-color to cover the elastic header. */
    background-color: white;
  }

  body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }

  .header-image {
    background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    height: 40vh;
  }

  .main-content {
    padding: 20px;
    background-color: white;
  }
}
